*.jar

lib/namesGender/SS_state_year.csv

reminders/*
!reminders/default.csv

desktop.ini

.idea

config/*.txt
config/*.csv

__pycache__

*.zip

.DS_Store

nlp.bat
run.bat
!reminders/nlp.bat
!reminders/run.bat
