# pip install -r requirements.txt
#
#
# lines preceded by # are comments
#
# ~= (e.g., ~= 0.6.10)
# it will select the latest version of the package, greater than or equal to 0.6.10, but still in 
#   the 0.6.* version, so it won't download 0.7.0 for example. It ensures you will get security
# fixes but keep backward-compatibility, if the package maintainer respects the semantic
# versioning (which states that breaking changes should occur only in major versions).
#
#used in NLP_setup_update_util for the automatic update to the latest release available on GitHub using git
pygit2
#
spacy
stanza
#
pandas==1.5.2
numpy
#
#used to parse arguments that are passed to a script via command line
argparse~=1.4.0
#
# used to run YouTube videos: vlc and pafy
# if pafy gives and error when running a YouTube video
#   pip uninstall pafy
#   pip install git+https://github.com/Cupcakus/pafy
# python-vlc
# pafy
#
# sqlite comes bundled with Python
#
#used by wordclouds.py (also uses stanza; see below)
wordcloud~=1.8.1
Pillow
#
striprtf
#
#used by nominalization; pyword sense disambiguation; MUST USE THIS VERSION OR CODE WILL BREAK; # # no longer true
pywsd~=1.2.4
# pywsd
#pywsd depends upon wn==0.0.23
wn==0.0.23
#
#used by stats_visuals_util.text_readability
textstat~=0.7.0
#
#used by split files
mlconjug~=3.4.0
#
#used by pdf_converter
pdfminer.six
#
#used by docx_converter
python-docx
#
# used by YAGO
SPARQLWrapper
fuzzywuzzy
#
#used by spell checkers
textblob
autocorrect~=2.3.0
pyspellchecker
# used by spell checker
python-Levenshtein
#
#language detection packages
#spacy installed below
langdetect
spacy_langdetect
langid
#
#used by Stanford_CoreNLP.py and other functions
psutil
unicode
unidecode
pycorenlp
stanfordcorenlp
conllu
nltk~=3.5
# stanza used by wordcloud script (the new StanfordCoreNLP Python approach) and YAGO
# stanza
# stanfordnlp is used by SVO
# stanfordnlp now called stanza
# stanza requires torch and torchvision; they are installed by STEP2 of setup
# pip install torch===1.7.1 torchvision===0.8.2 -f https://download.pytorch.org/whl/torch_stable.html
# torch===1.4.0 torchvision===0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
# later versions such as torch===1.6.0 torchvision===0.7.0 seem to fail
#
# VADER (sentiment analysis)
twython
#
# BERT
transformers
sentence_transformers
contextualSpellCheck
tensorflow
protobuf==3.20
sentencepiece
summarizer
bert-extractive-summarizer
#
#used by charts_Excel_util.py for visualzing Excel charts
openpyxl~=3.0.6
#
#used by GIS_main.py for generating Google Earth KML files, wordclouds_main
geopy~=2.1.0
simplekml~=1.3.5
googlemaps~=4.4.2
# tkcolorpicker requires tkinter and Pillow to be installed (https://libraries.io/pypi/tkcolorpicker)
tkcolorpicker~=2.1.3
#
#used by Gensim, topic modeling script
gensim
pyLDAvis~=2.1.2
# THIS SHOULD BE AUTOMATICALLY INSTALLED BY ANACONDA; but... not!
IPython
spacytextblob
# pprint #THIS SHOULD BE AUTOMATICALLY INSTALLED BY ANACONDA
# matplotlib #THIS SHOULD BE AUTOMATICALLY INSTALLED BY ANACONDA
#
# used by Word2Vec
Plotly

# uaed by charts_util
seaborn

#
# used by Plot Plotly (static)
kaleido
#
future~=0.18.2
lxml~=4.6.2
python-dateutil~=2.8.1
matplotlib~=3.3.3
scipy~=1.6.0
tqdm~=4.55.1
scikit-learn~=0.24.1
chardet
requests
